body {
    font-family: sans-serif;
    background-color: #111d4a;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1500px;
    text-align: center;
}

#groceryList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.groceryItem {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'name image'
        'house image'
        'apartment image'
        'quantity .'
        'button button';
    text-align: left;
}

.groceryItem > h2 {
    grid-area: name;
    margin-bottom: 0px;
    font-size: larger;
}

.groceryItem > img {
    max-height: 100px;
    grid-area: image;
}

.groceryItem > #test > p {
    margin: 0px;
}

.groceryItem > #test {
    position: relative;
    top: 5px;
}

#searchBar {
    width: 90%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}
